@import "tailwindcss";

@theme {
  --color-primary: #1A3622;
  --color-secondary: #D4AF37;
  --color-base: #FDFBF7;
  --color-accent: #8B4513;
  --color-dark: #1C1C1C;

  --font-sans: 'Inter', sans-serif;
  --font-serif: "Playfair Display", serif;

  --border-radius-mughal: 50% 50% 0 0 / 100% 100% 0 0;

  --animate-ping-slow: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-base);
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

::selection {
  background-color: rgba(212, 175, 55, 0.3);
}

.mughal-arch {
  clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 20%);
  border-radius: var(--radius-mughal);
}
